{% extends "base.html" %}

{% block content %}

<head>
  <title>fennecpixels</title>
  <link rel="stylesheet" href="assets/stylesheets/homecss.css">
  <meta charset="UTF-8">
  <meta name="keywords" content="fennecpixels, artist">
  <meta name="description" content="Artist and worldbuilder. Personal site.">
  <meta name="author" content="fennecpixels">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="https://fennecpixels.com/" target="_blank">
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Opening page -->
 <div class="hero-bg">
  <div class="hero-content">
    <div class="right-margin-align">
        <h1 class="logo">fennecpixels.</h1>
        <div class="ctas">
          <form class="grid1" action="About">
            <button class="grid1 cta" type="submit">about</button>
          </form>
          <form class="grid2" action="Portfolio">
            <button class="grid2 cta" type="submit">portfolio</button>
          </form>
          <form class="grid3" action="Contact">
            <button class="grid3 cta" type="submit">contact</button>
          </form>
          <div class="line-break"></div>
          <form class="gridNL" action="https://wiki.fennecpixels.com">
            <button class="gridNL cta" type="submit">fracture</button>
          </form>
        </div>
      </div>
  </div>
</div>



<!-- Scroll button here? -->

<!-- Further scroll -->
<!-- <div class="main-content">
  <section class="about-me-LP">
    <h1>Projects</h1>
    <ul>
      <li>Fracture (2018&ndash;present)
        <ul>
          <li>Fantasy worldbuilding</li>
          <li>Focus on linguistics &amp; culture interactions, time perception</li>
          <li>Public wiki available <a href="https://wiki.fennecpixels.com">here</a>.</li>
        </ul>
      </li>
      <li><i>Death Is Not The End</i> (2023)
        <ul>
          <li>Album of my first attempts at music</li>
          <li>Piano and orchestra</li>
        </ul>
      </li>
      <li>Full-time university student
        <ul>
          <li>Linguistics and Languages</li>
          <li>Multilingualism &amp; Child Language Acquisition (CLA)</li>
        </ul>
      </li>
    </ul>
    
    <p>Previously: was born</p>
    </section>
</div> -->

</body>
{% endblock %}